table {
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: sans-serif;
}

td,
th,
caption {
	border: 1px solid #000;
	padding: 2px 4px;
}

th,
caption {
	font-weight: 700;
}

caption {
	border-bottom: none;
	font-size: 18px;
}

.weekend {
	color: red;
}
