html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.button {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 19px 32px;
	background-color: #3596ed;
	transition:
		opacity 0.2s,
		background-color 0.2s;
}

.button:hover {
	opacity: 0.8;
}

.button:not(:disabled):active {
	background-color: #2d82cc;
}

.button:disabled {
	opacity: 0.65;
	cursor: default;
}

.section {
	margin-bottom: 140px;
}

.title-large {
	max-width: 596px;
	margin-bottom: 40px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.title-medium {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}

/* :focus-visible — это псевдокласс, который показывает рамку фокуса только когда это действительно нужно.
Зачем это придумали?
Была проблема с обычным :focus:
button:focus {
  outline: 2px solid blue;
}
Проблема: Рамка появляется всегда — даже при клике мышью. Это выглядит некрасиво:
Кликнул кнопку → синяя рамка 😒
Нажал Tab → синяя рамка ✅ (это нужно!)
:focus-visible решает это:
Клик мышью → рамки НЕТ ✅
Навигация с клавиатуры (Tab) → рамка ЕСТЬ ✅ */

/* :not(:disabled):active — это комбинация селекторов, которая означает: "Применить стили при клике, НО только если кнопка НЕ заблокирована"
Разбор по частям:
.button:not(:disabled):active
     ↑              ↑
     НЕ disabled    при клике  
:not() — псевдокласс отрицания ("НЕ")
:disabled — заблокированная кнопка
:active — момент клика (пока держишь кнопку) */
