.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-block: 32px;
	transition: box-shadow var(--transition-time);
	background-color: var(--bg-color);
}

.header--fixed {
	box-shadow: 0 0 20px var(--shadow-color);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	/* min-width 992px, max-width: 1440px */
	margin-right: clamp(25px, -11.585rem + 21.21vw, 120px);
}

/* Структура функции
Запись всегда состоит из трех частей:
clamp(MIN, VAL, MAX)
30px (MIN) — это «пол». Меньше этого значения отступ не упадет никогда, даже на самом крошечном телефоне.
120px (MAX) — это «потолок». Больше этого значения отступ не вырастет, даже если открыть сайт на 8K телевизоре.
-10.58rem + 20.09vw (VAL) — это «живое» значение, которое меняется в зависимости от ширины 
экрана. 
https://min-max-calculator.9elements.com/ сайт для генерации 2ого значения в clamp
*/

@media (width > 768px) {
	.header__logo {
		/* min-width 992px, max-width: 1440px */
		margin-right: clamp(25px, -11.585rem + 21.21vw, 120px);
	}

	.header__menu {
		flex-grow: 1;
	}
}

@media (width <= 768px) {
	.header__menu {
		position: fixed;
		top: 0;
		right: -100vh;
		bottom: 0;
		z-index: var(--layer-2);
		min-width: 297px;
		padding-top: 144px;
		padding-right: 15px;
		background-color: var(--bg-color);
		box-shadow: -2px 0 20px var(--shadow-color);
		opacity: 0;
		visibility: hidden;
		transition:
			right var(--transition-time),
			opacity var(--transition-time),
			visibility var(--transition-time);
	}

	.header__menu--open {
		right: 0;
		opacity: 1;
		visibility: visible;
	}

	.header__menu .menu__list {
		flex-direction: column;
		align-items: flex-end;
		text-align: end;
	}
}

.header__controls {
	display: flex;
	align-items: center;
}

@media (width > 992px) {
	.header__controls {
		gap: 60px;
	}
}

@media (width <= 992px) {
	.header__controls {
		gap: 30px;
	}
}

.header__order {
	position: relative;
	padding-bottom: 5px;
	font-weight: 400;
	font-size: 13px;
	line-height: 130%;
	color: var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
}

.header__order:hover::before {
	opacity: 1;
	visibility: visible;
}

.header__order::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 90%;
	min-height: 11px;
	background-color: var(--accent-color);
	border-radius: 50%;
	filter: blur(25px);
	opacity: 0;
	visibility: hidden;
	transition:
		opacity var(--transition-time),
		visibility var(--transition-time);
}

.header__actions {
	display: flex;
	gap: 20px;
}

@media (width > 768px) {
	.header__actions {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.header__actions {
		gap: 30px;
	}
}

.header__actions-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 24px;
	height: 24px;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.header__actions-button:hover {
		color: var(--accent-color);
	}
}

.header__actions-button:active {
	color: var(--accent-color);
}

.header__actions-icon {
	stroke: currentColor;
}
