.menu__list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu__link {
	font-weight: 300;
	font-size: 13px;
	line-height: 130%;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.menu__link:hover {
		color: var(--accent-color);
	}
}

/* Применяет стили только на устройствах с курсором (мышь), предотвращая "залипание"эффекта на телефонах.
Коротко: что это делает
Он проверяет, есть ли у пользователя мышка (или любой другой манипулятор, который умеет наводить курсор, не нажимая).
Зачем это нужно (Проблема «Залипания»)
В обычном CSS, если ты напишешь button:hover { background: yellow; }, на смартфоне случится беда:
Пользователь тыкает пальцем в кнопку.
Срабатывает «ховер», кнопка становится желтой.
Пользователь убрал палец, но кнопка остается желтой, пока он не ткнет в любое другое место.
Это выглядит как баг интерфейса (стили «залипли»).
@media (any-hover: hover) разрешает браузеру применять ховер-эффекты только тогда, когда у юзера есть нормальный курсор.  */
