html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1320px;
	padding: 15px;
	margin: 0 auto;
	border-bottom: 2px solid #999999;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.logo {
	width: 60px;
}

.list {
	display: flex;
	gap: 30px;
}

.nav-link,
.tel {
	color: black;
	text-decoration: none;
}
