* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #ffca7a;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	border: none;
	border-radius: 15px;
	max-width: 400px;
	padding: 30px;
	background-color: #fff;
	width: 100%;
}

.form-group {
	border: none;
	margin: 0;
	padding: 0;
}

.form-group-title {
	font-size: 18px;
	margin: 0 0 15px;
	text-align: center;
	font-weight: 700;
}

.label {
	display: inline-block;
	margin-bottom: 10px;
}

.input {
	display: block;
	padding: 6px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	border: none;
	background-color: #f5f5f5;
}

.input:disabled,
.textarea:disabled {
	opacity: 0.7;
}

/* Правило CSS: Margin collapse работает только между вертикально расположенными блочными элементами. Inline-block "ломает" это правило, потому что технически он не полностью блочный. */

.textarea {
	display: block;
	padding: 6px;
	margin-bottom: 20px;
	margin-top: 5px;
	width: 100%;
	max-height: 120px;
	min-height: 30px;
	border-radius: 5px;
	border: none;
	background-color: #f5f5f5;
	resize: vertical;
}

.checkbox-label {
	padding-left: 22px;
}

.input-checkbox {
	cursor: pointer;
	accent-color: #c27800;
	appearance: none;
	position: absolute;
	outline: none;
}

.input-checkbox::after {
	content: "";
	width: 16px;
	height: 16px;
	margin-left: -22px;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
}

.input-checkbox:checked::after {
	background: url(../img/check-icon.svg) no-repeat center #ffae30;
	border: 1px solid #ffae30;
}

.button {
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	padding: 7px;
	margin: 5px auto;
	border-radius: 15px;
	border: none;
	background-color: #ffae30;
	color: #ffffff;
	transition: opacity 0.2s ease-in-out;
}

.button:hover {
	opacity: 0.85;
}

.button:not(:disabled):active {
	background-color: #fe9c02;
}

.button:disabled,
.input-checkbox:disabled::after {
	opacity: 0.5;
	cursor: default;
}

.input:focus-visible,
.textarea:focus-visible,
.button:focus-visible,
.input-checkbox:focus-visible::after {
	outline: 2px solid #ffae30;
	outline-offset: 1px;
}

/* 
:disabled — это CSS-псевдокласс, который срабатывает, когда у элемента есть HTML-атрибут disabled.

Что делает атрибут disabled:

Блокирует элемент (кнопку, input, textarea, select)

Пользователь не может с ним взаимодействовать (кликнуть, ввести текст)

Форма не отправляет значение этого поля */
