* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #ffca7a;
}

.form {
	border: none;
	border-radius: 15px;
	width: 330px;
	margin: auto;
	margin-top: 150px;
	padding: 30px;
	background-color: #fff;
}

.form-group {
	border: none;
	margin: 0px;
	padding: 0;
}

.form-group-title {
	font-size: 18px;
	margin: 0 0 15px;
	text-align: center;
}

.label {
	display: block;
	margin-bottom: 10px;
}

.input {
	display: block;
	padding: 6px;
	width: 100%;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
	background-color: #f5f5f5;
}

.textarea {
	display: block;
	padding: 6px;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 100%;
	max-height: 120px;
	min-height: 30px;
	border-radius: 5px;
	border: none;
	background-color: #f5f5f5;
	resize: vertical;
}

.checkbox-text {
	display: block;
}

.input-checkbox {
	cursor: pointer;
}

.button {
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	padding: 6px;
	margin: 5px auto;
	border-radius: 15px;
	border: 1px solid #ffb03096;
	background-color: #ffae30;
	color: #ffffff;
}
