.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
}

.page__body {
	min-width: 375px;
	min-height: 200vh;
	background-color: var(--bg-color);
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}

/* Что делает функция min(A, B)?
Она работает как автоматический лимитер.
Она смотрит на два значения, которые ты ей дал, сравнивает их прямо в моменте и выбирает МЕНЬШЕЕ из двух. */

a:focus-visible,
button:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
}
/* 
:focus — «Старая школа»
Этот псевдокласс срабатывает всегда, когда элемент получает фокус. Неважно, как ты это сделал: 

:focus-visible — «Умный фокус»
Это современный стандарт. Он включает обводку только тогда, когда она действительно нужна пользователю.
Браузер сам решает:
-Если ты кликнул мышкой, браузер понимает: «Окей, ты и так видишь, куда нажал, рамка не нужна». Фокус не виден.
-Если ты навигаруешь клавиатурой (Tab), браузер понимает: «Ты не используешь мышь, тебе нужно видеть, где сейчас находится курсор». Рамка появляется.
*/
